@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F6F8FA;
}

.banner {
  background-color: #052849;
  height: 75px;
  padding: 20px 0 0 20px;
  width: 100%;
}

.banner img {
  width: 150px;
}

.retail-sales {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0 18px;
}

.panel {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

.sidebar {
  margin-right: 18px;
  max-width: 325px;
}

.sidebar header {
  margin-bottom: 18px;
  padding-top: 18px;
  text-align: center
}

.sidebar header img {
  margin: 0 auto;
  width: 150px;
}

.sidebar header h2 {
  color: #455066;
  font-size: 17px;
  margin: 13px 0 8px 0;
}

.sidebar header p {
  color: #ABB8C8;
  font-size: 13px;
  line-height: 20px;
  margin: 0 auto;
  max-width: 220px;
}

.sidebar nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
  width: 100%;
}

.sidebar nav button {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #455066;
  margin: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

.retail-sales > div {
  flex: 1;
}

.retail-chart {
  margin-bottom: 75px;
  position: relative;
  width: 100%;
}

.retail-chart h3 {
  color: #455066;
  font-weight: lighter;
  padding: 22px 0 0 25px;
}

.retail-chart .months {
  border-top: 1px solid #eee;
  padding: 25px 0;
}

.retail-chart .months div {
  color: #ABB8C8;
  display: flex; 
  font-size: 14px;
  justify-content: space-between; 
  padding: 0 44px 0 22px;
}

.recharts-responsive-container,
.recharts-wrapper,
.recharts-surface,
.recharts-layer {
  z-index: 0;
}

.dropdown {
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 1;
}

.dropdown button {
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 0 10px;
}

.dropdown menu {
  border: 1px solid #eee;
  list-style-type: none;
  padding-left: 0;
  width: 170px;
  margin: 0 0 -111px -165px;
  z-index: 2;
}

.dropdown-open {
  display: block;
}

.dropdown-closed {
  display: none;
}

.dropdown li {
  border-top: 1px solid #eee;
  color: #5F6F85;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 10px 20px;
}

.dropdown li:first-child {
  border-top: 0;
}

.retail-table {
  height: 520px;
  overflow-y: hidden;
  width: 100%;
}

.retail-table:hover {
  overflow: scroll;
}

.retail-table table {
  border-collapse: collapse;
  height: 520px;
  overflow-y: scroll;
  width: 100%;
}

.retail-table svg {
  vertical-align: middle;
}

.retail-table tbody tr {
  border-top: 1px solid #eee;
}

.retail-table tbody tr:first-child {
  border-top: 0 !important;
}

.retail-table th {
  align-items: center;
  background-color: white;
  color: #455066;
  font-size: 13px;
  font-weight: normal;
  padding: 25px 30px 25px 0;
  position: sticky;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  transition: padding 0.3s ease;
  vertical-align: middle;
  z-index: 1;
}

.retail-table th::after {
  content: "";
  display: block;
  border-bottom: 1px solid #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.retail-table th.scrolling {
  padding-top: 15px;
  padding-bottom: 15px;
}

.retail-table th div {
  cursor: pointer;
  display: inline-block;
}

.retail-table th span {
  margin-right: 5px;
}

.retail-table td {
  color: #ABB8C8;
  font-size: 14px;
  padding: 15px 52px 15px 0;
  text-align: right;
}

.retail-table th:first-child,
.retail-table td:first-child {
  padding-left: 30px;
  text-align: left;
  width: 175px !important;
}

.retail-table th:not(:first-child):not(:last-child),
.retail-table td:not(:first-child):not(:last-child) {
  margin-right: 5%;
}

.footer {
  text-align: center;
  width: 100%;
}

.footer small {
  color: #ABB8C8;
  display: block;
  padding: 30px 0;
}

.footer a {
  color: #ABB8C8;
}


@media screen and (max-width: 500px) {
  .banner {
    height: auto;
    padding: 0 0 5px 10px;
    width: 100%;
  }

  .banner h1 {
    margin: 0;
  }

  .banner img {
    width: 100px;
  }

  .sidebar {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .sidebar header {
    diplay: inline-block;
    width: 100%;
  }

  .sidebar header img {
    box-sizing: border-box;
    display: block;
    margin: 0 10px;
    object-fit: contain;
    width: 100%;
  }

  .sidebar header h2 {
    font-size: 30px;
  }

  .sidebar header p {
    font-size: 20px;
    line-height: 25px;
    margin: 0 10px;
    max-width: 100%;
  }

  .sidebar nav button {
    font-size: 18px;
    margin: 0;
    padding: 15px;
    width: 100%;
  }

  .retail-sales > div {
    flex: unset;
  }
  
  .retail-sales {
    display: block;
    margin-top: 10px;
    padding: 0 10px;
  }

  .retail-chart {
    margin-bottom: 10px;
  }

  .retail-chart .months span:nth-child(2n) {
    display: none;
  }
  
}

